
        $pfpImageBackground: #ffda1f31;
      body{
        min-height: 100vh;
        display: flex;
         flex-direction: column;
      }
      .darkBackground{
        margin-top: 1rem;
        background: $pfpImageBackground;
      }
      @media(min-width:1225px ){
      
      #footer{
        margin-top: auto;
      }
     
        }